body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 120px;
    width: 100%;
}

header img{
    height: 80px;
    width: 110px;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 100%;
}

header p{
    margin-left: 45px;
    margin-top: -2px;
}

.dropdownmenu {
    display: flex;
    float: right;
  }

  .dropdownmenu ul {
    display: none;
  }

  .dropdownmenu,
  .dropdownmenu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  .dropdownmenu a {
    display: block;
    width: 190px;
    height: 35px;
    line-height: 35px;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 3px 15px;
    text-align: center;
  }

  .dropdownmenu li {
    font-size: 20px;
    position: relative;
  }

  .dropdownmenu li:hover ul {
    display: block;
    border: 1px solid black;
    position: absolute;
    top: 130px;
    left: 0px;
    z-index: 100;
  }

  .dropdownmenu li:hover ul li{
    border: 1px solid black;
  }

  .dropdownmenu, .dropdownmenu ul {
    list-style-type: none;
    margin-top: -90px;
    margin-right: 100px;
    padding: 0px;
}

.menu{
    margin-top: -8px;
    background: url(image/acceuil.jpg) no-repeat;
    height: 845px;
    background-size: 100% 100%;
    width: 100%;
}

.menu .ma-div1 section{
    height: 170px;
    text-align: center;
    margin: 10px 8px;
    background-color: rgba(244, 250, 255, 0.899);
    width: 280px;
    display: inline-block;
    border-radius: 30px;
}

.menu .ma-div1 div{
    display: inline-block;
}

.menu .ma-div1{
    margin-top: 100px;
    height: 700px;
    width: 800px;
    float: right;
}

.ma-div3{
    margin-left: 60px;
}

.ma-div4{
    margin-left: 110px;
}

.ma-section1{
    float: left;
    margin-top: 350px;
    font-size: 50px;
    color: white;
    width: 700px;
    text-align: center;
}

.equipes .mon-h1{
    text-align: center;
    font-size: 50px;
    margin-top: 70px;
}

.equipes section{
    height: 600px;
    width: 420px;
    margin: 0 25px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.312);
    text-align: center;
}

.equipes div{
   margin: 0 540px;
}

.equipes div h1{
    margin-top: 35px;
}

.equipes section img{
    height: 270px;
    width: 420px;
}

.equipes section p{
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
}

.equipes section button{
    height: 40px;
    width: 230px;
    border-radius: 30px;
    background-color: white;
    font-size: 20px;
}

.inscription{
    text-align: center;
}

.inscription p{
    font-size: 22px;
}

.inscription input{
    height: 55px;
    margin: 10px 11px 0;
    width: 400px;
    border-radius: 13px;
    border: 2px solid #9747FF;
}

input::placeholder{
    font-size: 20px;
}

.inscription button{
    height: 70px;
    width: 260px;
    border-radius: 9px;
    font-size: 25px;
    color: white;
    background-color: #9747FF;
}

.vide{
    height: 90px;
}

footer .foot-div div{
    display: inline-block;
    height: 100px;
    width: 200px;
}

footer .foot-div section{
    float: right;
}

footer section div{
    margin-left: 700px;
}

footer section div p {
    text-align: center;
    margin-top: 50px;
}

footer img{
    height: 80px;
    width: 110px;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 100%;
}

footer .foot-img p{
    margin-left: 45px;
    margin-top: -2px;
}

footer{
    height: 150px;
}

.ma-div1 p{
    font-size: 45px;
}

.ma-div1 h4{
    margin-top: -40px;
}

footer i{
    font-size: 30px;
    margin: 3px;
}